@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face{
    font-family: newrial-gotesk;
    src: url("./assets/fonts/Fontspring-DEMO-neurialgrotesk-regular.otf");
}
:root{
    --ff-sansita: "Sansita", sans-serif;
    --purple:#8D34FF;
    --off-white:#F5F5F5;
    --login-bgrc: rgba(230,210,255,1);
    --ff-outfit: "Outfit", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
}

/* Nav */
nav h2, .logo-text{
    font-family: var(--ff-sansita);
    font-weight: 700;
    font-size: 28.33px;
}

nav h1{
    font-family: var(--ff-outfit);
    font-weight: 500;
    font-size: 26px;
}

.login-btn{
    background-color: var(--login-bgrc);
    border-radius: 8px;
    border: none;
    height: 61px;
    width: 140px;
    font-family: newrial-gotesk;
    font-weight: 500;
    font-size: 20px;
}

.sign-up-link{
    color: var(--off-white);
}
.sign-up-btn, .btn-1{
    background-color: var(--purple);
    border-radius: 8px;
    border: none;
    height: 61px;
    width: 140px;
    font-family: newrial-gotesk;
    font-weight: 500;
    font-size: 20px;
}

.log-out h4{
    font-family: var(--ff-outfit);
    font-size: 22px;
    font-weight: 400;
    color: #db3e3e;
}

/* auth */
.main-container{
    background-image: url("./assets/bakground-img.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    min-height: 100vh;
}

/* cards */
.card-container{
    width: 30%;
}

.card-img{
    height: 256.62px;
    width: 256.62px;
}

.card-title{
    font-family: newrial-gotesk;
    font-weight: 700;
    font-size: 15.97px;
}

.add-to-cart-btn{
    background-color: var(--purple);
    color: rgba(254, 254, 255, 1);
    height: 40px;
    border: none;
    border-radius: 8px;
    font-family: var(--ff-poppins);
    font-weight: 500;
    font-size: 16px;
}

.card-price{
    font-size: 20.88px;
    color: var(--purple);
    font-size: 15.97px;
    font-weight: 700;
}

.card-discount-price{
    color: rgba(162, 162, 162, 1);
    font-size: 15.97px;
    font-weight: 500;
}

@media(max-width:765px){
    .main-container{
        background-image: none;
    }

    /* cards */
.card-container{
    width: 98%;
}

.card-img{
    height: 335.55px;
    width: 335.55px;
}

.card-title{
    font-size: 20px;
}   
}

@media(min-width:768px) and (max-width:1023px) {
.card-container{
    min-width: 48%;
    display: flex;
    justify-content: space-around;
}

.card-img{
    height: 335.55px;
    width: 335.55px;
}
}