@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face{
    font-family: newrial-gotesk;
    src: url("./assets/fonts/Fontspring-DEMO-neurialgrotesk-regular.otf");
}
:root{
    --ff-sansita: "Sansita", sans-serif;
    --purple:#8D34FF;
    --off-white:#F5F5F5;
    --login-bgrc: rgba(230,210,255,1);
    --ff-outfit: "Outfit", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
}

/* Nav */
nav h2, .logo-text{
    font-family: var(--ff-sansita);
    font-weight: 700;
    font-size: 28.33px;
}

nav h1{
    font-family: var(--ff-outfit);
    font-weight: 500;
    font-size: 26px;
}

.login-btn{
    background-color: var(--login-bgrc);
    border-radius: 8px;
    border: none;
    height: 61px;
    width: 140px;
    font-family: newrial-gotesk;
    font-weight: 500;
    font-size: 20px;
}

.sign-up-link{
    color: var(--off-white);
}
.sign-up-btn, .btn-1{
    background-color: var(--purple);
    border-radius: 8px;
    border: none;
    height: 61px;
    width: 140px;
    font-family: newrial-gotesk;
    font-weight: 500;
    font-size: 20px;
}

.log-out h4{
    font-family: var(--ff-outfit);
    font-size: 22px;
    font-weight: 400;
    color: #db3e3e;
}

/* auth */
.main-container{
    background-image: url("./assets/bakground-img.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    min-height: 100vh;
}

/* cards */
.card-container{
    width: 30%;
}

.card-img{
    height: 256.62px;
    width: 256.62px;
}

.card-title{
    font-family: newrial-gotesk;
    font-weight: 700;
    font-size: 15.97px;
}

.add-to-cart-btn{
    background-color: var(--purple);
    color: rgba(254, 254, 255, 1);
    height: 40px;
    border: none;
    border-radius: 8px;
    font-family: var(--ff-poppins);
    font-weight: 500;
    font-size: 16px;
}

.card-price{
    font-size: 20.88px;
    color: var(--purple);
    font-size: 15.97px;
    font-weight: 700;
}

.card-discount-price{
    color: rgba(162, 162, 162, 1);
    font-size: 15.97px;
    font-weight: 500;
}

/* cart */
.cart-container{
    width: 348px;
    height: 787.33px;
    padding: 0px 24px;
    border-radius: 8px;
    margin-top: 9px;
}
.cart{
    width: 300px;
    height: 36px;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--ff-poppins);
    color: #191b1d;
}
.item-img{
    width: 95px;
    height: 98px;
    border-radius: 3px;
}
.item-title{
    width: 173px;
    height: 17px;
    font-size: 14.52px;
    font-weight: 500;
    font-family: newrial-gotesk;
}
.subtract-item-btn{
    border: none;
    height: 18.61px;
    width: 18.61px;
    border-radius: 2.79px;
    background-color: #d2d2d2;
    font-size: 12.1px;
    font-weight: 400;
    font-family: var(--ff-poppins);
}
.item-number{
    width: 18.61px;
    height: 18.61px;
    padding: 9.3px;
    font-size: 12.1px;
    font-weight: 400;
    font-family: var(--ff-poppins);
}
.add-item-btn{
    background-color: var(--purple);
    color: #fefeff;
    border: none;
    border-radius: 2.79px;
    font-size: 12.1px;
    font-weight: 400;
    font-family: var(--ff-poppins);
    width: 18.61px;
    height: 18.61px;
}
.item-price{
    width: 54px;
    height: 19px;
    font-size: 16px;
    font-weight: 500;
    font-family: newrial-gotesk;
}
.remove-btn{
    width: 87.333px;
    height: 26.36px;
    border-radius: 3.6px;
    font-size: 12.73px;
    font-weight: 500;
    font-family: newrial-gotesk;
    color: #ff4034;
    background-color: white;
}

.checkout-head{
   font-size: 14.52px;
   font-weight: 500;
   font-family: newrial-gotesk;
   color: #5a5a5a;
   width: 64px;
   height: 17px;
}
.checkout-price{
    font-size: 16px;
    font-weight: 800;
    font-family: newrial-gotesk;
    width: 60px;
    height: 19px;
}

.checkout-btn{
    width: 300px;
    height: 44px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #fefeff;
    font-family: newrial-gotesk;
    background-color: var(--purple);
}

@media(max-width:765px){
    .main-container{
        background-image: none;
    }

    /* cards */
.card-container{
    width: 98%;
}

.card-img{
    height: 335.55px;
    width: 335.55px;
}

.card-title{
    font-size: 20px;
}

/* cart */
.cart-container{
    height: 98%;
    width: 98%;
    margin-top: 50px;
}
}


@media(min-width:768px) and (max-width:1023px) {
    .card-container{
        min-width: 48%;
        display: flex;
        justify-content: space-around;
    }
    
    .card-img{
        height: 335.55px;
        width: 335.55px;
    }
    /* cart */
    .cart-container{
        height: 100%;
        margin-top: 50px;
    }
}