@font-face{
    font-family: newrial-gotesk;
    src: url("./assets/fonts/Fontspring-DEMO-neurialgrotesk-regular.otf");
}

.form-container{
    background-color: white;
    width: 100%;
    max-width: 642px;
    padding: 1rem 5rem;
    border-radius: 15px;
    font-family: newrial-gotesk;
    align-self: center;
    padding-top: 2rem;
    /* position: relative; */
}

.form-hTag{
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
}

/* input[type="checkbox"] {
    accent-color: var(--purple);
  } */
  
/* .btn-1{
    background-color: var(--purple);
    border-radius: 8px;
    border: none;
    height: 61px;
    width: 140px;
    font-family: newrial-gotesk;
    font-weight: 500;
    font-size: 20px;
} */
.eye{
    position: relative;
    bottom: 3rem;
    left: 28rem;
    border: none;
}
.btn-2{
    width: 100%;
    max-width: 482px;
    height: 64px;
    border-radius: 15px;
    background-color: white;
}
.link{
    color: var(--purple);
}

@media(max-width:465px){
    .form-container{
        padding: 1rem 1rem;
        width: 100%;
        max-width: 342px;
        padding-top: 0;
    }
    
    
}