@font-face{
    font-family: newrial-gotesk;
    src: url("./assets/fonts/Fontspring-DEMO-neurialgrotesk-regular.otf");
}

.form-container{
    background-color: white;
    width: 100%;
    max-width: 642px;
    padding: 1rem 5rem;
    border-radius: 15px;
    font-family: newrial-gotesk;
    align-self: center;
    padding-top: 2rem;
    /* position: relative; */
}

.form-hTag{
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
}

input{
    font-family: var(--ff-outfit);
}

/* checkbox */
input[type="checkbox"] {
    cursor: pointer;
    box-shadow: none;
  }
  
  input[type="checkbox"]:checked{
    background-color: var(--purple);
    border: none;
    box-shadow: none;
  }
  span{
    color: var(--purple);
  }

/* .btn-1{
    background-color: var(--purple);
    border-radius: 8px;
    border: none;
    height: 61px;
    width: 140px;
    font-family: newrial-gotesk;
    font-weight: 500;
    font-size: 20px;
} */

/* password */
.pswrd-div{
    position: relative;
}
.eye{
    position: absolute;
    left: 28rem;
    top: 0.5rem;
    cursor: pointer;
}
/* google btn */
.btn-2{
    width: 100%;
    max-width: 482px;
    height: 64px;
    border-radius: 15px;
    background-color: white;
}
/* signup and login link */
.link-pTag{
    font-family: var(--ff-outfit);
    font-size: 18px;
    text-align: center;
}
.link{
    color: var(--purple);
}

@media(max-width:465px){
    .form-container{
        padding: 1rem 1rem;
        width: 100%;
        max-width: 342px;
        padding-top: 0;
    }
    
    .eye{
        position: absolute;
        left: 17.5rem;
        top: 0.5rem;
    }
    
}