@font-face{
    font-family: newrial-gotesk;
    src: url("./assets/fonts/Fontspring-DEMO-neurialgrotesk-regular.otf");
}

.form-container{
    background-color: #ffff;
    width: 100%;
    max-width: 640px;
    padding: 49px 80px;
    border-radius: 15px;
    font-family: newrial-gotesk;
}
.head-text{
    color: #ffff;
}
span{
    color: var(--purple);
}
.sign-up-head{
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
}

@media(max-width:765px){
    .head-text{
        color: var(--purple);
    }
}